@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
body {
  margin: 0%;
  background: rgb(249, 239, 237);
  background: linear-gradient(
    0deg,
    rgba(249, 239, 237, 1) 56%,
    rgba(249, 240, 239, 1) 67%,
    rgba(249, 241, 240, 1) 75%,
    rgba(249, 218, 214, 1) 83%,
    rgba(249, 210, 205, 1) 90%,
    rgba(248, 175, 166, 1) 99%
  );
  font-family: 'Ubuntu', sans-serif;
}
h1 {
  text-align: center;
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
}
#fetch-petition {
  display: flex;
  position: relative;
  /* background-color: #f9f1f0; */
  flex-wrap: wrap; 
  justify-content: space-evenly;
}
.card {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  justify-content: center;
  flex-direction: column;
  width: 20%;  
  text-align: center;
  margin: 2% 0 0 2%;
  padding: 1rem;  
  background-color: #fadcd9;
  /* border: solid 2px #f8afa6; */
  border-radius: 10px;
  box-shadow: 0 5px 7px #000000;
}
.cardsTitle {
  color: #67595e;
  text-transform: capitalize;
}
.showStatus {
  position: absolute;  
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.8s ease;
  background-color: #fadcd9;
  border-radius: 10px;
  color: transparent;
}
.card:hover .showStatus {
  opacity: 1;  
}
.card:hover .false {
  color: #d41111;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.card:hover .true {
  color: #1fa800;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
